name: Unit Tests

on:
  push:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build tests (g++)
        run: |
          g++ -std=c++17 -O2 -Wall -Wextra -D_DEBUG -o wpe_tests W2-WPE-Soccer.cpp

      - name: Run unit tests
        run: |
          ./wpe_tests
